<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc1.digitalstory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Digital story"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main5Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".pop"
            android:theme="@style/AppTheme.Customtheme"
            />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".quiz1" />
        <activity android:name=".quiz11" />
        <activity
            android:name=".Main6Activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>